@(currentPage: Page, currentSortBy: String, currentOrder: String, currentFilter: String,projectFrom: Form[Game],lang:Lang)
@import play.i18n._
@import helper._
@import helper.twitterBootstrap._
@import controllers._

@****************************************
* Helper generating navigation links    *
****************************************@

@link(newPage:Int, newSortBy:String) = @{
	var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    routes.ProjectAction.list(newPage, sortBy, order, currentFilter)
}


@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        @title
    </th>
}

@admin_main(Html("UserList"), nav = "admin",adminnav = "game", showBar = true,lang) {

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong>@Messages.get(lang,"Done")</strong> @flash.get("success")
        </div>
    } 

 	<div class="alert alert-info">
	  	<strong>比赛管理</strong>
	</div>
	
	<div id="form-actions">
		@dynamicRole(Application.ADMIN){
			<a class="btn btn-success pull-right" id="add" href="@routes.GameAction.create()">@Messages.get(lang,"Add_a_new_game")</a>
		}
	</div>
	
	 @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages.get(lang,"Nothing_to_display")</em>
        </div>
        
    } else {
    	<table class="users table table-bordered table-striped table-hover">
            <thead>
                <tr>
                @header("title",Messages.get(lang,"project_title"))
                @header("title",Messages.get(lang,"game_start_time"))
               	@header("username",Messages.get(lang,"operation"))
                </tr>
            </thead>
             <tbody>

                @for(game <- currentPage.getGameList) {
                    <tr>
                        <td style="width:100px;">
                            @game.project.title
                        </td>
                        
                        <td style="width:100px;">
                            @game.gameStartTime
                        </td>
                        <td style="width:100px;">
                        <a href="@routes.GameAction.info(game.id)" class="btn btn-primary" style="width:120px;margin-top:5px;">@Messages.get(lang,"info")</a>
                        		
                        @dynamicRole(Application.ADMIN){
                        	
                        		<a href="@routes.GameAction.edit(game.id)" class="btn btn-primary" style="width:120px;margin-top:5px;">@Messages.get(lang,"update")</a>
                        		<a href="@routes.GameAction.delete(game.id)" class="btn btn-primary" style="width:120px;margin-top:5px;">@Messages.get(lang,"delete")</a>
                        	
                        }
                        </td>
                    </tr>
                }

            </tbody>
         </table>
         
         <div id="pagination" class="pagination pagination-right">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages.get(lang,"Previous")</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; @Messages.get(lang,"Previous")</a>
                    </li>
                }
                <li class="current">
                    <a>@Messages.get(lang,"Displaying") @currentPage.getDisplayXtoYofZ()</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">@Messages.get(lang,"Next") &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>@Messages.get(lang,"Next") &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    
    }
	
}

            
